---
layout: default
---


{% include career-profile.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include experiences.html %}

{% include certifications.html %}

{% include projects.html %}

{% include oss-contributions.html %}

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    Selected Publications
  </h2>
  
<p>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
  
  <div>
    <p style="margin: 12px 0;">Fermiology of Two-Dimensional Titanium Carbide and Nitride MXenes</p>
    <p style="margin: 5px 0;">M. Bagheri, R. Ibragimova, H.-P. Komsa</p>
    <p><a href="https://journals.aps.org/prb/abstract/10.1103/PhysRevB.104.035408">Phys. Rev. B 104, 035408, (2021).</a></p>
  </div>

  <img src="https://github.com/mbagheri20/mbagheri20.github.io/blob/master/assets/images/toc/toc4.png?raw=true" alt="toc4" style="max-width: 200px; height: auto;">
</div></p>

<p>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
  <img src="https://ramandb.oulu.fi/logo.png" alt="CRD" style="max-width: 200px; height: auto;">
  
  <div>
    <p style="margin: 12px 0;">High-Throughput Computation of Raman Spectra from First Principles</p>
    <p style="margin: 5px 0;">M. Bagheri, H.-P. Komsa</p>
    <p><a href="https://www.nature.com/articles/s41597-023-01988-5">Sci. Data 10, 80, (2023).</a></p>
    <p><a href="https://ramandb.oulu.fi/">Website</a></p>
  </div>

  
</div></p>

<p>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
  
  <div>
    <p style="margin: 12px 0;">Identification of Material Dimensionality Based on Force Constant Analysis</p>
    <p style="margin: 5px 0;">M. Bagheri, E. Berger, H.-P. Komsa</p>
    <p><a href="https://pubs.acs.org/doi/10.1021/acs.jpclett.3c01635">J. Phys. Chem. Lett. 14, 35, 7840–7847, (2023).</a></p>
  </div>

  <img src="https://github.com/mbagheri20/mbagheri20.github.io/blob/master/assets/images/toc/toc2.jpeg?raw=true" alt="toc1" style="max-width: 200px; height: auto;">
</div></p>

<p>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
   <img src="https://github.com/mbagheri20/mbagheri20.github.io/blob/master/assets/images/toc/toc1.jpg?raw=true" alt="toc2" style="max-width: 200px; height: auto;"> 
  <div>
    <p style="margin: 12px 0;">Screening 0D Materials for 2D Nanoelectronics Applications</p>
    <p style="margin: 5px 0;">M. Bagheri, H.-P. Komsa</p>
    <p><a href="https://onlinelibrary.wiley.com/doi/10.1002/aelm.202200393">Adv. Electron. Mater. 9, 2200393, (2023).</a></p>
  </div>


</div></p>

<p>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
  
  <div>
    <p style="margin: 12px 0;">Structure–Spectrum Relationship in the Calculated Raman Spectra of Silicates</p>
    <p style="margin: 5px 0;">M. Bagheri, H.-P. Komsa</p>
    <p><a href="https://doi.org/10.1002/jrs.6686">J. Raman Spectrosc. 55 (10), 1113, (2024).</a></p>
  </div>

  <img src="https://github.com/mbagheri20/mbagheri20.github.io/blob/master/assets/images/toc/toc3.jpg?raw=true" alt="toc3" style="max-width: 200px; height: auto;">
</div></p>

<p>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
   <img src="https://onlinelibrary.wiley.com/cms/asset/a2f62050-ec02-4ee8-a335-f9d336fdc8c0/smll70015-gra-0001-m.jpg" alt="toc5" style="max-width: 200px; height: auto;">
  <div>
    <p style="margin: 12px 0;">Screening of Material Defects using Universal Machine‐Learning Interatomic Potentials</p>
    <p style="margin: 5px 0;">E. Berger, M. Bagheri, H.-P. Komsa</p>
    <p><a href="https://onlinelibrary.wiley.com/doi/full/10.1002/smll.202503956">Small 21, e03956, (2025). </a></p>
  </div>


</div></p>

<p>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">

  <div>
    <p style="margin: 12px 0;">Lateral Graphene-Metallene Interfaces at the Nanoscale</p>
    <p style="margin: 5px 0;">M. Bagheri, P. Koskinen</p>
    <p><a href="https://pubs.rsc.org/en/content/articlelanding/2025/nr/d5nr02770e">Nanoscale 18 (1), 188–196, (2026).</a></p>
  </div>

   <img src="https://github.com/mbagheri20/mbagheri20.github.io/blob/master/assets/images/toc/toc5.png?raw=true" alt="toc5" style="max-width: 200px; height: auto;">
</div></p>


<p>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
   <img src="https://github.com/mbagheri20/mbagheri20.github.io/blob/master/assets/images/toc/toc6.png?raw=true" alt="toc6" style="max-width: 200px; height: auto;">
  <div>
    <p style="margin: 12px 0;">Massive Discovery of Low-Dimensional Materials from Universal Computational Strategy</p>
    <p style="margin: 5px 0;"> M. Bagheri, E. Berger, H.-P. Komsa, P. Koskinen</p>
    <p><a href="https://doi.org/10.1021/acs.chemmater.5c03151">Chem. Mater. 38 (5), 2395–2402, (2026). </a></p>
  </div>


</div></p>

{% include skills.html %}

{% include researchinterest.html %}

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    Network map
  </h2>
  
<p>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
   <img src="https://github.com/mbagheri20/mbagheri20.github.io/blob/master/assets/images/toc/map.png?raw=true" alt="map" style="max-width: 600px; height: auto;">



</div></p>

