---
layout: default
---


{% include career-profile.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include experiences.html %}

{% include certifications.html %}

{% include projects.html %}

{% include oss-contributions.html %}

<p>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
  
  <div>
    <h3 style="margin: 12px 0;">Fermiology of two-dimensional titanium carbide and nitride MXenes</h3>
    <p style="margin: 5px 0;">M. Bagheri, R. Ibragimova, H.-P. Komsa</p>
    <p><a href="https://journals.aps.org/prb/abstract/10.1103/PhysRevB.104.035408">Phys. Rev. B 2021, 104, 035408</a></p>
  </div>

  <img src="https://github.com/mbagheri20/mbagheri20.github.io/blob/master/assets/images/toc/toc4.png?raw=true" alt="toc4" style="max-width: 200px; height: auto;">
</div></p>

<p>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
  
  <div>
    <h3 class="section-title">High-throughput computation of Raman spectra from first principles</h3>
    <p style="margin: 5px 0;">M. Bagheri, H.-P. Komsa</p>
    <p><a href="https://www.nature.com/articles/s41597-023-01988-5">Sci. Data 2023, 10, 80.</a></p>
    <p><a href="https://ramandb.oulu.fi/">Website</a></p>
  </div>

  <img src="https://ramandb.oulu.fi/logo.png" alt="CRD" style="max-width: 200px; height: auto;">
</div></p>

<p>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
  
  <div>
    <h3 class="section-title">Identification of Material Dimensionality Based on Force Constant Analysis</h3>
    <p style="margin: 5px 0;">M. Bagheri, E. Berger, H.-P. Komsa</p>
    <p><a href="https://pubs.acs.org/doi/10.1021/acs.jpclett.3c01635">J. Phys. Chem. Lett. 2023, 14, 35, 7840–7847.</a></p>
  </div>

  <img src="https://github.com/mbagheri20/mbagheri20.github.io/blob/master/assets/images/toc/toc2.jpeg?raw=true" alt="toc1" style="max-width: 200px; height: auto;">
</div></p>

<p>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
  
  <div>
    <h3 class="section-title">Screening 0D Materials for 2D Nanoelectronics Applications</h3>
    <p style="margin: 5px 0;">M. Bagheri, H.-P. Komsa</p>
    <p><a href="https://onlinelibrary.wiley.com/doi/10.1002/aelm.202200393">Adv. Electron. Mater. 2023, 9, 2200393.</a></p>
  </div>

  <img src="https://github.com/mbagheri20/mbagheri20.github.io/blob/master/assets/images/toc/toc1.jpg?raw=true" alt="toc2" style="max-width: 200px; height: auto;">
</div></p>

<p>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
  
  <div>
    <h3 class="section-title">Structure–spectrum relationship in the calculated Raman spectra of silicates</h3>
    <p style="margin: 5px 0;">M. Bagheri, H.-P. Komsa</p>
    <p><a href="https://doi.org/10.1002/jrs.6686">J. Raman Spectrosc. 2024, 55 (10), 1113.</a></p>
  </div>

  <img src="https://github.com/mbagheri20/mbagheri20.github.io/blob/master/assets/images/toc/toc3.jpg?raw=true" alt="toc3" style="max-width: 200px; height: auto;">
</div></p>

<p>
<div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
  
  <div>
    <h3 class="section-title">Lateral graphene-metallene interfaces at the nanoscale</h3>
    <p style="margin: 5px 0;">M. Bagheri, P. Koskinen</p>
    <p><a href="https://pubs.rsc.org/en/content/articlelanding/2025/nr/d5nr02770e">Nanoscale, 2026.</a></p>
  </div>

  <img src="https://pubs.rsc.org/en/Image/Get?imageInfo.ImageType=GA&imageInfo.ImageIdentifier.ManuscriptID=D5NR02770E&imageInfo.ImageIdentifier.Year=2026" alt="toc5" style="max-width: 200px; height: auto;">
</div></p>

{% include skills.html %}

{% include researchinterest.html %}
