---
layout: default
---


{% include career-profile.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include experiences.html %}

{% include certifications.html %}

{% include projects.html %}

{% include oss-contributions.html %}

{% include publications.html %}

<div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;">
  
  <div>
    <h3 class="section-title">Screening 0D Materials for 2D Nanoelectronics Applications</h3>
    <p style="margin: 5px 0;">M. Bagheri, H.-P. Komsa</p>
    <p><a href="https://onlinelibrary.wiley.com/doi/10.1002/aelm.202200393">Adv. Electron. Mater. 2023, 9, 2200393.</a></p>
  </div>

  <img src="https://github.com/mbagheri20/mbagheri20.github.io/blob/master/assets/images/toc/toc1.jpg?raw=true" alt="toc1" style="max-width: 200px; height: auto;">

</div>

{% include skills.html %}

{% include researchinterest.html %}
